<!doctype html>
<html lang="en">

<head>
    <title>Pref of cityinfo</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="cityinfojp,cityinfo,pref,fact,city,info,oss,web">
    <meta name="description"
        content="cityinfojp は自治体などの組織による都市情報のファクトを淡々と集積する Webサイトです。 当面は日本の行政(県・市・町・村)からの外出自粛要請や学校の休校情報などの情報を収集して表示します。">
    <meta name="author" content="Toshiki Iga, and cityinfojp contributors">

    <!-- <link rel="canonical" href="https://cityinfojp.herokuapp.com/pref/tokyo.html"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div th:insert="dyn/fragment/navbar :: navbar-fragment" th:remove="tag" />

    <main role="main">
        <div th:insert="dyn/fragment/jumbotron :: jumbotron-fragment" th:remove="tag" />

        <div class="container">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="card">
                    <div data-toggle="tooltip" data-placement="top" <div class="card-header"
                        style="padding:3px 20px 3px 20px;">いますぐ検索
                        <span data-toggle="popover" data-placement="top"
                            data-content="Google を利用して所定の文字列の最新情報を検索します。パーソナライズOFFで最近追加または更新されたと思われるもののみ結果に表示します。なお、複数の公式組織 Web サイトが対象の場合は、同じ文字列で複数のボタン(Webサイト分)が生成されます。">
                            <svg class="bi bi-exclamation-circle-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16 8A8 8 0 110 8a8 8 0 0116 0zM8 4a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 4zm.002 6a1 1 0 100 2 1 1 0 000-2z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                    </div>
                    <div class="card-body" style="padding:6px 20px 6px 20px;">
                        <div th:each="dispSearchButton : ${dispSearchButtonList}" th:remove="tag">
                            <a th:class="${'btn btn-sm btn-outline-' + (dispSearchButton.primary ? 'primary' : 'secondary')}"
                                th:style="${(dispSearchButton.primary ? '' : 'padding:2px 4px 2px 4px;')}"
                                th:href="${dispSearchButton.searchUrl}" target="_blank">[[${dispSearchButton.text}]]
                                <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                        clip-rule="evenodd" />
                                </svg> <svg class="bi bi-box-arrow-up-right" width="1em" height="1em"
                                    viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <hr />

                <h6 class="border-bottom border-gray pb-2 mb-0">最近登録された情報</h6>

                <div th:insert="dyn/fragment/dispentrylist :: dispentrylist-fragment" th:remove="tag" />
            </div>
        </div>
    </main>

    <footer class="container">
        <p>&copy; cityinfojp 2020</p>
    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</body>

</html>