<!doctype html>
<html lang="en">

<head>
    <title>About cityinfojp</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="cityinfojp,cityinfo,about,fact,city,info,oss,web">
    <meta name="description"
        content="cityinfojp は自治体などの組織による都市情報のファクトを淡々と集積する Webサイトです。 当面は日本の行政(県・市・町・村)からの外出自粛要請や学校の休校情報などの情報を収集して表示します。">
    <meta name="author" content="Toshiki Iga, and cityinfojp contributors">

    <link rel="canonical" href="https://cityinfojp.herokuapp.com/about.html">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div th:insert="dyn/fragment/navbar :: navbar-fragment" th:remove="tag" />

    <main role="main">
        <div th:insert="dyn/fragment/jumbotron :: jumbotron-fragment" th:remove="tag" />

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>cityinfojp の目的</h2>
                    <p>cityinfojp は自治体などの組織による都市情報のファクトを淡々と集積する Webサイトです。<br />
                        ファクトにのみ着眼し解説や論評といった情報は扱いません。
                        ファクトは地方自治体など一次情報源に近いレベルを優先して収集します。
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>cityinfojp の当面の目的</h2>
                    <p>当面は日本の行政(県・市・町・村)からの外出自粛要請や学校の休校情報などの情報を収集して表示します。
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>オープンソース (OSS)</h2>
                    <p>cityinfojp はオープンソースです。実現するソースコードのすべてが github 上で公開されます。
                        オープンソース (OSS) ライセンスの理解と同意により、開発への参加・再利用・改変などが可能です。
                    </p>
                    <p><a class="btn btn-secondary" href="https://github.com/igapyon/cityinfojp/" role="button">github
                            を開く &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>データの集積</h2>
                    <p>自治体などの組織による都市情報のファクトを淡々と集積します。
                        ファクトにのみ着眼し解説や論評といった情報は扱いません。
                    </p>
                    <p><a class="btn btn-primary" href="/policy.html" role="button">データポリシー &raquo;</a></p>
                    <p><a class="btn btn-secondary" href="/dataentry.html" role="button">データ生成 &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>サイトのステータス</h2>
                    <p>現在このサイトはベータ版のフェーズにあります。一緒に作ってくれる オープンソース活動に理解のある人を募集しています。</p>
                </div>
                <div class="col-md-4">
                    <h2>開発言語など</h2>
                    <p>cityinfojp は Java, Spring Boot, Thymeleaf, Bootstrap, JSON により構成されます。
                        実用的な Web アプリであり、有用なサンプルでもあります。
                        Thymeleaf の静的 HTML ジェネレータとして実装されています。
                    </p>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->
    </main>

    <footer class="container">
        <p>&copy; cityinfojp 2020 : <span th:text="${processDateTime}" th:remove="tag" /></p>
    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>