<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment for DispEntryList</title>
</head>

<body>
    <div th:fragment="dispentrylist-fragment" th:object="${dispEntryList}" th:remove="tag">
        <div th:each="dispEntry : ${dispEntryList}">
            <div class="media text-muted pt-3">
                <div th:insert="dyn/fragment/bootstrap-svg-icon :: placeholder-img" th:remove="tag" />
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">
                        <div th:if="${dispEntry.prefUrl == null or dispEntry.prefUrl == ''}" th:remove="tag">
                            <!--/* 都道府県リンクがない場合 */-->
                            <span th:text="${dispEntry.titleText}" th:remove="tag" />
                        </div>
                        <div th:if="${!(dispEntry.prefUrl == null or dispEntry.prefUrl == '')}" th:remove="tag">
                            <!--/* 都道府県リンクがある場合 */-->
                            <a th:href="${dispEntry.prefUrl}">
                                <span th:text="${dispEntry.titleText}" th:remove="tag" />
                            </a>
                        </div>
                    </strong>
                    <span th:text="${dispEntry.descText}" th:remove="tag" />
                    <div th:each="url : ${dispEntry.urlList}" th:remove="tag">
                        , <a th:href="${url.url}" class="btn btn-sm btn-outline-primary"
                            style="padding: 0px 4px 0px 4px" target="_blank">Link
                            <div th:if="${url.official}" th:remove="tag">
                                <div th:insert="dyn/fragment/bootstrap-svg-icon :: bookmark-check" th:remove="tag" />
                            </div>
                            <div th:if="${url.file}" th:remove="tag">
                                <div th:insert="dyn/fragment/bootstrap-svg-icon :: file-earmark-text" th:remove="tag" />
                            </div>
                            <div th:insert="dyn/fragment/bootstrap-svg-icon :: box-arrow-up-right" th:remove="tag" />
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</body>

</html>