<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment for DispEntryList</title>
</head>

<body>
    <div th:fragment="dispentrylist-fragment" th:object="${dispEntryList}" th:remove="tag">
        <div th:each="dispEntry : ${dispEntryList}">
            <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="64" height="32" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder">
                    <title><span th:text="${dispEntry.iconText}" th:remove="tag" /></title>
                    <rect width="100%" height="100%" th:fill="${dispEntry.iconColor}" /><text x="25%" y="50%"
                        th:fill="${dispEntry.iconTextColor}" dy=".3em"><span th:text="${dispEntry.iconText}"
                            th:remove="tag" /></text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">
                        <div th:if="${dispEntry.prefUrl == null or dispEntry.prefUrl == ''}" th:remove="tag">
                            <!--/* 都道府県リンクがない場合 */-->
                            <span th:text="${dispEntry.titleText}" th:remove="tag" />
                        </div>
                        <div th:if="${!(dispEntry.prefUrl == null or dispEntry.prefUrl == '')}" th:remove="tag">
                            <!--/* 都道府県リンクがある場合 */-->
                            <a th:href="${dispEntry.prefUrl}">
                                <span th:text="${dispEntry.titleText}" th:remove="tag" />
                            </a>
                        </div>
                    </strong>
                    <span th:text="${dispEntry.descText}" th:remove="tag" />
                    <div th:each="url : ${dispEntry.urlList}" th:remove="tag">
                        , <a th:href="${url.url}" class="btn btn-sm btn-outline-primary"
                            style="padding: 0px 4px 0px 4px" target="_blank">Link
                            <div th:if="${url.official}" th:remove="tag">
                                <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z" />
                                    <path fill-rule="evenodd"
                                        d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div th:if="${url.file}" th:remove="tag">
                                <svg class="bi bi-file-earmark-text" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z" />
                                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z" />
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</body>

</html>