<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment for DispEntryList</title>
</head>

<body>
    <div th:fragment="dispentrylist-fragment" th:object="${dispEntryList}" th:remove="tag">
        <div th:each="dispEntry : ${dispEntryList}">
            <div class="media text-muted pt-3">
                <svg class="bd-placeholder-img mr-2 rounded" width="64" height="32" xmlns="http://www.w3.org/2000/svg"
                    preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder">
                    <title><span th:text="${dispEntry.iconText}" th:remove="tag" /></title>
                    <rect width="100%" height="100%" th:fill="${dispEntry.iconColor}" /><text x="25%" y="50%"
                        th:fill="${dispEntry.iconTextColor}" dy=".3em"><span th:text="${dispEntry.iconText}"
                            th:remove="tag" /></text>
                </svg>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">
                        <div th:if="${dispEntry.prefUrl == null or dispEntry.prefUrl == ''}" th:remove="tag">
                            <!--/* 都道府県リンクがない場合 */-->
                            <span th:text="${dispEntry.titleText}" th:remove="tag" />
                        </div>
                        <div th:if="${!(dispEntry.prefUrl == null or dispEntry.prefUrl == '')}" th:remove="tag">
                            <!--/* 都道府県リンクがある場合 */-->
                            <a th:href="${dispEntry.prefUrl}">
                                <span th:text="${dispEntry.titleText}" th:remove="tag" />
                            </a>
                        </div>
                    </strong>
                    <span th:text="${dispEntry.descText}" th:remove="tag" />
                    <div th:each="url : ${dispEntry.urlList}" th:remove="tag">
                        , <a th:href="${url.url}" class="btn btn-sm btn-outline-primary"
                            style="padding: 0px 4px 0px 4px" target="_blank">Link
                            <div th:if="${url.official}" th:remove="tag">
                                <svg class="bi bi-bookmark-check" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M4.5 2a.5.5 0 00-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 011 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 014.5 1h4a.5.5 0 010 1h-4z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 2.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 4.793l2.646-2.647a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div th:if="${url.file}" th:remove="tag">
                                <svg class="bi bi-file-earmark-text" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4 1h5v1H4a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V6h1v7a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2z" />
                                    <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 019 4.5z" />
                                    <path fill-rule="evenodd"
                                        d="M5 11.5a.5.5 0 01.5-.5h2a.5.5 0 010 1h-2a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h5a.5.5 0 010 1h-5a.5.5 0 01-.5-.5z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</body>

</html>