<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment for Jumbotron</title>
</head>

<body>
    <div th:fragment="jumbotron-fragment" th:object="${jumbotron}" th:remove="tag">
        <div class="jumbotron">
            <div class="container">
                <br />
                <h1 class="display-3"><span th:text="*{title}" th:remove="tag" /></h1>
                <p>cityinfojp は自治体などの組織による都市情報のファクトを淡々と集積して表示する Webサイトです。
                    <a href="/about.html">
                        <span style="font-size: 1.5em">
                            <div th:insert="dyn/fragment/bootstrap-svg-icon :: question-circle" th:remove="tag" />
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>