<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragment for Pagination</title>
</head>

<body>
    <div th:fragment="pagination-fragment" th:object="${pagination}" th:remove="tag">
        <nav aria-label="Pref page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">青森</a></li>
                <li class="page-item"><a class="page-link" href="#">岩手</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">宮城</a></li>
                <li class="page-item"><a class="page-link" href="#">秋田</a></li>
                <li class="page-item"><a class="page-link" href="#">山形</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>

</html>